<div fxLayout="column" fxLayoutAlign="space-around stretch">
  <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-around">
    <mat-card fxFlex="70" fxFlex.md="85" fxFlex.sm="95" fxFlex.xs="100" style="margin-top: 32px; padding: 28px">
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="space-around start">
          <div fxFlex="nogrow" class="mat-display-1" style="margin-right: 16px; margin-bottom: 0">Q:</div>
          <div fxFlex="auto">
            <div class="mat-display-1" style="margin-bottom: 0">
              {{ question?.questionContent }}
            </div>
            <div fxLayout="row" fxLayoutAlign="start end" style="margin-top: 16px;">
              <mat-chip-list fxFlex="noshrink" style="margin-right: 16px">
                <mat-chip [class.solved]="question?.isAnswered"
                          disableRipple>{{ question?.isAnswered ? '已回答' : '未回答'}}</mat-chip>
              </mat-chip-list>
              <div [fxFlex]="question?.isAnswered ? 'noshrink' : 'fill'" style="opacity: 60%; margin-right: 16px;">提出于： {{ question?.createTime | date }}</div>
              <div fxFlex="fill" style="opacity: 60%" *ngIf="question?.isAnswered">回答于： {{ question?.answerTime | date:'y年M月d日  h:mm:ss' }}</div>
            </div>
          </div>
        </div>
        <div style="margin-bottom: 32px; margin-top: 32px; height: 1px" *ngIf="question?.isAnswered || preview">
          <mat-divider></mat-divider>
        </div>
        <div *ngIf="question?.isAnswered || preview" fxLayout="row" fxLayoutAlign="space-around start" style="margin-bottom: 32px;">
          <div fxFlex="nogrow" class="mat-display-1" style="margin-bottom: 16px; margin-right: 16px">A:</div>
          <div fxFlex="auto">
            <markdown ngPreserveWhitespaces emoji katex [data]=" preview ? answerContentControl.value : question?.answerContent"></markdown>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-around" *ngIf="!question?.isAnswered && (isLoggedIn | async)">
    <mat-card fxFlex.xs="100" fxFlex.sm="95" fxFlex.md="85" fxFlex="70" style="margin-top: 16px; padding: 32px;">
      <mat-card-title>回答</mat-card-title>
      <mat-card-content style="margin-top: 32px" fxLayout="row" fxLayoutAlign="center">
        <mat-form-field fxFlex="95" appearance="fill">
          <mat-label>回答内容</mat-label>
          <textarea matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="10"
                    [formControl]="answerContentControl"
                    required></textarea>
          <mat-error>回答不能为空</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions dir="rtl">
        <button mat-raised-button color="accent" (click)="handleSubmit()"> 提交 </button>
        <mat-checkbox style="margin-right: 16px;" (change)="handlePreviewChange($event)">预览</mat-checkbox>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
