.mat-standard-chip {
  &:hover::after {
    opacity: 0;
  }

  &:focus::after {
    opacity: 0;
  }

  :host-context(.blue-gray) & {
    &.solved {
      background: #3aae45;
    }
  }

  :host-context(.black) & {
    &.solved {
      background: #27732d;
    }
  }

  :host-context(.indigo-pink) & {
    &.solved {
      background: #9fffa8;
    }
  }
}
