<div class="box content">
  <mat-card class="card">
    <mat-card-content class="center" style="margin: 32px">
      <div class="mat-display-4" style="font-family: 'Arial Black',sans-serif">
        404
      </div>
      <h1>page not found</h1>
    </mat-card-content>
    <mat-card-actions>
      <div class="button-bar">
        <button (click)="backToIndex()" mat-button>back to index</button>
        <button (click)="backToLastPage()" color="primary" mat-raised-button>back to last page</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
