/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';

$mat-black-theme-foreground: (
  base: white,
  divider: $light-dividers,
  dividers: $light-dividers,
  disabled: $light-disabled-text,
  disabled-button: rgba(white, 0.3),
  disabled-text: $light-disabled-text,
  elevation: black,
  hint-text: $light-disabled-text,
  secondary-text: $light-secondary-text,
  icon: white,
  icons: white,
  text: white,
  slider-min: white,
  slider-off: rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);

// Background palette for dark themes.
$mat-black-theme-background: (
  status-bar: black,
  app-bar: map-get($mat-grey, 900),
  background: black,
  hover: rgba(white, 0.04),
  card: map-get($mat-grey, 900),
  dialog: map-get($mat-grey, 900),
  disabled-button: rgba(white, 0.12),
  raised-button: map-get($mat-grey, 800),
  focused-button: $light-focused,
  selected-button: map-get($mat-grey, 900),
  selected-disabled-button: map-get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map-get($mat-grey, 700),
  disabled-list-option: black,
  tooltip: map-get($mat-grey, 700),
);

// Creates a container object for a dark theme to be given to individual component theme mixins.
// as it would break existing apps that set the parameter by name.
@function mat-black-theme($primary, $accent: null, $warn: mat-palette($mat-red)) {
  // This function creates a container object for the individual component theme mixins. Consumers
  // can construct such an object by calling this function, or by building the object manually.
  // There are two possible ways to invoke this function in order to create such an object:
  //
  //    (1) Passing in a map that holds optional configurations for individual parts of the
  //        theming system. For `color` configurations, the function only expects the palettes
  //        for `primary` and `accent` (and optionally `warn`). The function will expand the
  //        shorthand into an actual configuration that can be consumed in `-color` mixins.
  //    (2) Legacy pattern: Passing in the palettes as parameters. This is not as flexible
  //        as passing in a configuration map because only the `color` system can be configured.
  //
  // If the legacy pattern is used, we generate a container object only with a dark-themed
  // configuration for the `color` theming part.
  @if $accent != null {
    @return mat-private-create-backwards-compatibility-theme(_mat-validate-theme((
      _is-legacy-theme: true,
      color: _mat-create-black-color-config($primary, $accent, $warn),
    )));
  }
  // If the map pattern is used (1), we just pass-through the configurations for individual
  // parts of the theming system, but update the `color` configuration if set. As explained
  // above, the color shorthand will be expanded to an actual dark-themed color configuration.
  $result: $primary;
  @if map-get($primary, color) {
    $color-settings: map-get($primary, color);
    $primary: map-get($color-settings, primary);
    $accent: map-get($color-settings, accent);
    $warn: map-get($color-settings, warn);
    $result: map-merge($result, (color: _mat-create-black-color-config($primary, $accent, $warn)));
  }
  @return mat-private-create-backwards-compatibility-theme(_mat-validate-theme($result));
}

@function _mat-create-black-color-config($primary, $accent, $warn: null) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: if($warn != null, $warn, mat-palette($mat-red)),
    is-dark: true,
    foreground: $mat-black-theme-foreground,
    background: $mat-black-theme-background,
  );
}

@include mat-core();

$indigo-pink-primary: mat-palette($mat-indigo);
$indigo-pink-accent: mat-palette($mat-pink, A200, A100, A400);
$indigo-pink-theme: mat-light-theme($indigo-pink-primary, $indigo-pink-accent);

//@include angular-material-theme($indigo-pink-theme);

$blue-gray-primary: mat-palette($mat-blue-grey);
$blue-gray-accent: mat-palette($mat-amber, A200, A100, A400);
$blue-gray-warn: mat-palette($mat-deep-orange);
$blue-gray-theme: mat-dark-theme($blue-gray-primary, $blue-gray-accent, $blue-gray-warn);

$blue-gray-black-primary: mat-palette($mat-grey, 900, 700, 900, 500);
$blue-gray-black-accent: mat-palette($mat-amber, A200, A100, A400);
$blue-gray-black-warn: mat-palette($mat-deep-orange);
$blue-gray-black-theme: mat-black-theme($blue-gray-black-primary, $blue-gray-black-accent, $blue-gray-black-warn);

@include angular-material-theme($indigo-pink-theme);

.blue-gray {
  @include angular-material-color($blue-gray-theme);
  $theme: 'blue-gray'
}

.indigo-pink {
  //@include angular-material-color($indigo-pink-theme);
}

.black {
  @include angular-material-color($blue-gray-black-theme);
}

html, body {
  height: 100%;
  margin: 0;
}

//body { margin: 0; font-family: Roboto, 'Noto Sans SC', "Helvetica Neue", sans-serif; }

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Roboto, Noto Sans SC,  monospace',
);

@include angular-material-typography($custom-typography);

.cdk-overlay-container {
  .blue-gray & {
    color: white;
  }

  .black & {
    color: lightgray;
  }

  .indigo-pink & {
    color: darkslategray;
  }
}
